/* Common */

html, body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px/24px Arial,sans-serif;
  /*background: #070707;*/
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: auto;
}

/* Header */

.main-header {
  margin-bottom: 60px;
}

.main-nav {
  float: left;
  width: 780px;

  /* TODO: for Grid - Delete */
  min-height: 70px;
}

.main-nav .logo { float: left; }

.main-nav ul {
  float: left;
  margin: 0; padding: 0;
  list-style: none;
}

.main-nav li { display: inline-block; }

.user-block {
  float: right;
  width: 140px;

  /* TODO: for Grid - Delete */
  min-height: 70px;
}

/* EO Header */

/* Main */

/* Index page */

.index-logo {
  display: table;
  margin: 0 auto 25px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;

  /* TODO: for Grid - Delete */
  min-height: 165px;
}
.features-item:last-child { margin-right: 0; }

.index-content {
  padding: 50px 80px;
  margin-bottom: 35px;
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

/* TODO: for Grid - Delete */
.index-content > div { min-height: 320px; }
.index-content + .index-content > div { min-height: 295px; }

.index-content-title {
  margin-top: 0;
}

/* All content pages */
h1,
.main-title {
  margin: -6px 0 15px;
  font-size: 30px;
  line-height: 42px;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.breadcrumbs {
  margin: 0 0 50px;
  padding: 0;
  list-style: none;
}

.breadcrumbs li { display: inline-block; }

.main-content .heading,
.main-content .lead {
  margin: 0 0 55px;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}

.main-content .columns {
  column-count: 2;
  margin-bottom: 50px;
}

/* TODO: for Grid - Delete */
.main-content .columns { min-height: 230px; }
.main-content .columns ~ .columns { min-height: 0; }

.main-content .columns > *:first-child {margin-top: 0;}

/* Catalog page */

.catalog-sidebar {
  float: left;
  width: 220px;
}

.catalog-filters fieldset {
  margin: 50px 0 0;
  padding: 0;

  /* TODO: for Grid - Delete */
  min-height: 255px;
}
.catalog-filters fieldset:first-child { margin-top: 0; }

.catalog-content {
  float: right;
  width: 700px;
}

.catalog-list {
  margin: 0 0 25px;
}

.catalog-item {
  float: left;
  width: 220px;
  margin: 0 20px 20px 0;

  /* TODO: for Grid - Delete */
  min-height: 286px;
}
.catalog-item:nth-child(3n) { margin-right: 0; }

.catalog-item .title {
  font: 14px/18px Arial,sans-serif;
}

.catalog-paginator {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-paginator li {
  display: inline-block;
  width: 43px;
  height: 43px;
}

/* Product page */

.product-photo {
  float: left;
  width: 460px;
}

.product-photo .full {
  display: block;
}

.product-photo .thumbs-list {
  margin: 20px 0 0;
  padding: 0;
  font-size: 0; line-height: 0;
  list-style: none;
}

.product-photo .thumbs-item {
  display: inline-block;
  margin-right: 20px;
}

.product-photo .thumbs-item:last-child { margin-right: 0; }
.product-photo .thumbs-item img {display: block;}

.product-info {
  float: right;
  width: 390px;
}

.product-meta { margin: 20px 0 30px; }
.product-meta .in-stock { float: left; }
.product-meta .vendor-code { float: right; }

.product-actions {
  margin: 35px 0;

  /* TODO: for Grid - Delete */
  min-height: 45px;
}

.product-specs { padding: 1px 0; }

.product-specs .title {
  margin: 25px 0;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

/* EO Main */

/* Footer */

.main-footer {
  margin-top: 60px;
  padding: 60px 0 40px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;

  /* TODO: for Grid - Delete */
  min-height: 95px;
}

.footer-social {
  float: left;
  width: 180px;

  /* TODO: for Grid - Delete */
  min-height: 95px;
}

.footer-copyright {
  float: right;
  width: 160px;

  /* TODO: for Grid - Delete */
  min-height: 95px;
}

/* EO Footer */










/* Test styles for grid */
body {
  margin-top: 15px;
  min-width: 1124px;
  min-height: 1716px;
  background: #070707 url(../img/barbershop-index.jpg) 50% 15px no-repeat;
  background-image: none;
}

.index-page {
  background-image: url(../img/barbershop-index.jpg);
}

.catalog-page {
  background-image: url(../img/barbershop-shop.jpg);
}

.product-page {
  background-image: url(../img/barbershop-item.jpg);
}

.content-page {
  background-image: url(../img/barbershop-price.jpg);
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *,
main article {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 2px green;
}

body > * > *,
main article > * {
  background: rgba(128, 0, 0, 0.2);
  box-shadow: 0 0 0 2px red;
}

body > * > * > *,
main article > * > * {
  background: rgba(128, 128, 0, 0.2);
  box-shadow: inset 0 0 0 2px yellow;
}

body > *:before,
body > * > *:before,
body > * > * > *:before {
  content: attr(class);
  position: absolute;
  top: 0; left: 0;
  padding: 3px 5px;
  color: #fff;
  font: bold 12px/12px Lucida Console, Lucida Sans Typewriter, monaco, monospace;
  opacity: 0.7;
}

body > * > *:before {
  left: -2px;
  transform: translateY(-100%);
}

body > *:before { background: green; }
body > * > *:before { background: red; }
body > * > * > *:before { color: #000; background: yellow; }
