/* Common */

/*
* TODO: Texture BGs
* TODO: Sprites
*
* in Nerds
*/

html, body {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  font: bold 14px/24px "PT Sans Narrow", Arial, sans-serif;
  text-transform: uppercase;
  background: #070707 url(../img/bg.jpg) no-repeat;
}

.inner-page {
  color: #000;
  background: #f8f5f2 url(../img/content-bg.png) repeat;
}

a { color: inherit; }

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: auto;
}

/* Form elements */

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 15px;

  color: #000;
  font: inherit;

  background: #f9f6f3;
  border: 2px solid #000;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="tel"]::placeholder {
  color: #000;
  text-transform: uppercase;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
  border-color: #663d15;
}

input[class^="icon-"] {
  position: relative;
  padding-right: 40px;
  background-repeat: no-repeat;
  background-position: right 13px top 50%;
}

input.icon-user {
  background-image: url(../img/icon-user.png);
}
input.icon-password {
  background-image: url(../img/icon-password.png);
}

input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
 position: relative;

 display: inline-block;
 padding-left: 32px;
}

input[type="checkbox"] + label i {
 position: absolute;
 top: 50%; left: 0;

 width: 16px; height: 16px;
 margin: -10px 0 0;
 border: 2px solid #000;
}

input[type="checkbox"]:checked + label i::before,
input[type="checkbox"]:checked + label i::after {
 content: "";
 position: absolute;
 top: 50%; left: 50%;

 width: 16px;
 height: 2px;
 margin: -1px 0 0 -8px;

 background: #000;
}

input[type="checkbox"]:checked + label i::before { transform: rotate(-45deg); }
input[type="checkbox"]:checked + label i::after { transform: rotate(45deg); }

/* Buttons */

.btn {
  display: inline-block;
  padding: 10px 33px;
  margin-right: 17px;

  font: inherit;
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  background: #000;
  border: none;
  cursor: pointer;
}
.btn:last-child { margin-right: 0; }


.btn:hover,
.btn:active { background: #663d15; }

.btn:disabled,
.btn.disabled {
  background: #000;
  opacity: 0.5;
}

.social-btn {
  overflow: hidden;
  position: relative;

  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;

  text-indent: -1000px;

  color: #fff;
  background: #000;
  transition: all 0.3s;
}

.social-btn:hover,
.social-btn:active {
  color: #000;
  background: #fff;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

  background-repeat: no-repeat;
  transition: all 0.3s;
}

.social-btn-vk::before {
  width: 25px;
  height: 16px;
  background-image: url(../img/icon-social-vk.png);
}
.social-btn-vk:hover::before {
  background-image: url(../img/icon-social-vk-hover.png);
}

.social-btn-fb::before {
  width: 12px;
  height: 22px;
  background-image: url(../img/icon-social-fb.png);
}
.social-btn-fb:hover::before {
  background-image: url(../img/icon-social-fb-hover.png);
}

.social-btn-inst::before {
  width: 21px;
  height: 21px;
  background-image: url(../img/icon-social-inst.png);
}
.social-btn-inst:hover::before {
  background-image: url(../img/icon-social-inst-hover.png);
}

/* Header */

.main-header {
  margin-bottom: 60px;
  color: #fff;
  background: #000;
}

.inner-header { margin-bottom: 50px; }

.main-nav {
  float: left;
  width: 780px;
}

.main-nav ul {
  float: left;
  margin: 0; padding: 0;
  list-style: none;
}

.main-nav li {
  display: inline-block;
  font-size: 0;
  vertical-align: top;
}

.main-nav a,
.user-block a {
  display: block;
  padding: 25px 20px;

  color: inherit;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.main-nav a:hover,
.main-nav a:active,
.user-block a:hover,
.user-block a:active {
  background: #242424;
}

.main-nav .logo {
  float: left;
  padding-top: 21px;
  padding-bottom: 21px;
}

.user-block {
  float: right;
  max-width: 140px;
  font-size: 0;
}

.user-block a {
  position: relative;
  display: inline-block;
}

a.login { padding-left: 53px; }

a.login::before {
  content: "";
  position: absolute;
  top: 28px; left: 22px;

  width: 18px;
  height: 16px;

  background: url(../img/icon-login.png) 0 0 no-repeat;
  opacity: 0.3;
}
a.login:hover::before { opacity: 1; }

/* EO Header */

/* Main */

/* Logo */

.index-logo {
  display: table;
  margin: 0 auto 25px;
}
.index-logo img { display: block; }

/* Features*/

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 260px;
  padding: 0 20px;
  margin-right: 20px;

  text-align: center;
}
.features-item:last-child { margin-right: 0; }

.features-item p:last-child { margin-bottom: 0; }

.features-name {
  position: relative;

  display: block;
  padding-bottom: 35px;
  margin-bottom: 35px;

  font-size: 30px;
  line-height: 42px;
}

.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 20px;
  height: 20px;

  background: #fff;
  transform: translate(-10px, -5px) rotate(45deg);
}

/* Index content */

.index-content {
  padding: 50px 80px;
  margin-bottom: 35px;

  color: #000;
  background: url(../img/content-separator.png) 50% 50% no-repeat,
              #f8f5f2 url(../img/content-bg.png) repeat;
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.index-content-title {
  margin: 0 0 25px;

  font-size: 30px;
  line-height: 42px;
}

.index-content p { margin: 25px 0; }

/* News preview */

.news-preview {
  padding: 0;
  padding-right: 35px;
  margin: 0;

  list-style: none;
}

.news-preview li { margin: 0 0 25px; }
.news-preview p { margin-bottom: 0; }
.news-preview time { text-transform: lowercase; }

/* Gallery */

.gallery {
  position: relative;
  height: 260px;
}

.gallery-content {
  width: 286px;
  height: 164px;
  padding: 7px;
  margin: 0;

  background: #fff;
}

.gallery-content img {
  width: 100%;
  height: 100%;

  background: #ccc;
}

.gallery .btn {
  position: absolute;
  bottom: 0;

  width: 140px;
  margin-right: 0;
}

.gallery .btn-prev { left: 0; }
.gallery .btn-next { right: 0; }

/* Appointment form */

.appointment-form input {
  float: left;
  width: 106px;

  margin: 0 20px 20px 0;
}
.appointment-form input:nth-child(2n) { margin-right: 0; }
.appointment-form .btn { width: 100%; }

/*** All inner pages ****/

/* Inner pages header */

.inner-heading { margin-bottom: 45px; }

.inner-title {
  margin: 0 0 15px;
  font-size: 30px;
  line-height: 42px;
  text-transform: uppercase;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  display: inline;
  padding-right: 40px;
}
.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 50%; right: 0;

  width: 7px; height: 7px;
  margin: -3.5px 15px 0;

  vertical-align: middle;

  background: #000;
  transform: rotate(45deg);
}

.breadcrumbs a { text-decoration: none; }
.breadcrumbs a:hover { text-decoration: underline; }

.breadcrumbs .current {
  padding-right: 0;
  color: #aba9a7;
}
.breadcrumbs .current::after { display: none; }

/* Inner pages content */

.inner-content h2 {
  margin: 60px 0 30px;

  font-size: 24px;
  line-height: 30px;
}

.inner-content p,
.inner-content ul {
  margin: 24px 0;
}

.inner-content ul {
  padding: 0;
  list-style: none;
}

.inner-content li {
  position: relative;

  padding-left: 20px;
  margin-bottom: 13px;
}
.inner-content li:last-child { margin-bottom: 0; }

.inner-content li::before {
  content: "";
  position: absolute;
  top: 50%; left: 0;

  width: 7px; height: 7px;
  margin-top: -3.5px;

  background: #000;
  transform: rotate(45deg);
}

.inner-content table {
  margin: 35px 0;
  border-collapse: collapse;
}

.inner-content th,
.inner-content td {
  padding: 8px 17px;
  border: 2px solid #000;
}

.inner-content .full-width { width: 100%; }
.inner-content .equal-cells { table-layout: fixed; }
.inner-content .short-text { padding-right: 80px; }

.inner-content .price-table {
  table-layout: fixed;
  width: 100%;

  text-align: center;
}

.inner-content .price-table td:first-child { text-align: left; }


/* Lead text/heading */

.inner-content .lead {
  overflow: hidden;
  margin: 0 0 60px;

  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.inner-content .lead > * {
  position: relative;

  display: inline-block;
  padding: 0 25px;
  margin: 0;

  font: inherit;
}

.inner-content .lead > *::before,
.inner-content .lead > *::after {
  content: "";
  position: absolute;
  top: 50%;

  width: 9999px;
  height: 2px;
  margin-top: -1px;

  background: #000;
}
.inner-content .lead > *::before { right: 100%; }
.inner-content .lead > *::after { left: 100%; }

/* Columns */

.inner-content .columns:after {
  content: "";
  display: table;
  clear: both;
}

.inner-content .column-left,
.inner-content .column-right {
  float: left;
  width: 460px;
}
.inner-content .column-right { float: right; }

.inner-content .column-left > *:first-child,
.inner-content .column-right > *:first-child { margin-top: 0; }
.inner-content .column-left > *:last-child,
.inner-content .column-right > *:last-child { margin-bottom: 0; }

/* Catalog page */

.catalog-sidebar {
  float: left;
  width: 220px;
}

.catalog-filters fieldset {
  margin: 50px 0 0;
  padding: 0;

  /* TODO: for Grid - Delete */
  min-height: 255px;
}
.catalog-filters fieldset:first-child { margin-top: 0; }

.catalog-content {
  float: right;
  width: 700px;
}

.catalog-list {
  margin: 0 0 25px;
}

.catalog-item {
  float: left;
  width: 220px;
  margin: 0 20px 20px 0;

  /* TODO: for Grid - Delete */
  min-height: 286px;
}
.catalog-item:nth-child(3n) { margin-right: 0; }

.catalog-item .title {
  font: 14px/18px Arial,sans-serif;
}

.catalog-paginator {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-paginator li {
  display: inline-block;
  width: 43px;
  height: 43px;
}

/* Product page */

.product-photo {
  float: left;
  width: 460px;
}

.product-photo .full {
  display: block;
}

.product-photo .thumbs-list {
  margin: 20px 0 0;
  padding: 0;
  font-size: 0; line-height: 0;
  list-style: none;
}

.product-photo .thumbs-item {
  display: inline-block;
  margin-right: 20px;
}

.product-photo .thumbs-item:last-child { margin-right: 0; }
.product-photo .thumbs-item img {display: block;}

.product-info {
  float: right;
  width: 390px;
}

.product-meta { margin: 20px 0 30px; }
.product-meta .in-stock { float: left; }
.product-meta .vendor-code { float: right; }

.product-actions {
  margin: 35px 0;

  /* TODO: for Grid - Delete */
  min-height: 45px;
}

.product-specs { padding: 1px 0; }

.product-specs .title {
  margin: 25px 0;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

/* EO Main */

/* Footer */

.main-footer {
  margin-top: 60px;
  padding: 60px 0 40px;

  color: #fff;
  background: #222;
}

.inner-footer { margin-top: 70px; }

.main-footer p {
  margin: 0 0 15px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-social {
  float: left;
  width: 180px;

  text-align: center;
}

.footer-copyright {
  float: right;
  min-width: 140px;

  text-align: center;
}

/* EO Footer */

/* Modals */

.modal {
  position: absolute;
  z-index: 200;
  top: 120px; left: 50%;
  transform: translateX(-50%);

  display: none;
  width: 300px;
  padding: 45px 80px;

  color: #000;
  background: #f8f5f2 url(../img/content-bg.png) repeat;
  box-shadow: 0 30px 50px rgba(0,0,0,0.75);
}

.modal-map {
  position: fixed;
  z-index: 110;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

  display: none;
  width: 766px;
  height: 560px;

  border: 7px solid #fff;
  background: #f8f5f2 url(../img/map.jpg) no-repeat;
  box-shadow: 0 30px 50px rgba(0,0,0,0.75);
}

.modal-overlay {
  position: fixed;
  z-index: 90;
  top: 0; left: 0;

  display: none;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.5);
}

.modal-close {
  position: absolute;
  top: 0; left: 100%;

  width: 25px;
  height: 25px;
  margin: 5px 0 0 15px;

  font-size: 0;
  line-height: 0;

  background: none;
  border: none;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 50%; left: 0;

  width: 100%;
  height: 5px;
  margin-top: -2.5px;

  background: #d0d0d0;
  border-radius: 1px;
}
.modal-close::before { transform: rotate(-45deg); }
.modal-close::after { transform: rotate(45deg); }

.modal-title {
  margin: 0 0 20px;

  font-size: 30px;
  line-height: 1.2;
}

/* Login form */

.login-form legend {
  margin: 0 0 10px;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form .btn {
  display: block;
  width: 100%;
  margin: 7px 0;
}
.login-form .btn { margin: 10px 0; }

.login-form .remember,
.login-form .restore { margin: 5px 0; }
.login-form .restore { float: right; }

/* EO Modals */








.chromeperfectpixel-overlay {
  margin-left: 50% !important;
  transform: translateX(-50%) !important;
}

/* Test styles for grid

body {
  margin-top: 15px;
  min-width: 1124px;
  min-height: 1716px;
  background: #070707 url(../img/barbershop-index.jpg) 50% 15px no-repeat;
  background-image: none;
}

.index-page {
  background-image: url(../img/barbershop-index.jpg);
}

.catalog-page {
  background-image: url(../img/barbershop-shop.jpg);
}

.product-page {
  background-image: url(../img/barbershop-item.jpg);
}

.inner-page {
  background-image: url(../img/barbershop-price.jpg);
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *,
main article {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 2px green;
}

body > * > *,
main article > * {
  background: rgba(128, 0, 0, 0.2);
  box-shadow: 0 0 0 2px red;
}

body > * > * > *,
main article > * > * {
  background: rgba(128, 128, 0, 0.2);
  box-shadow: inset 0 0 0 2px yellow;
}

body > *:before,
body > * > *:before,
body > * > * > *:before {
  content: attr(class);
  position: absolute;
  top: 0; left: 0;
  padding: 3px 5px;
  color: #fff;
  font: bold 12px/12px Lucida Console, Lucida Sans Typewriter, monaco, monospace;
  opacity: 0.7;
}

body > * > *:before {
  left: -2px;
  transform: translateY(-100%);
}

body > *:before { background: green; }
body > * > *:before { background: red; }
body > * > * > *:before { color: #000; background: yellow; }
